.mainContainer::-webkit-scrollbar {
  display: none;
}

.weatherSection {
  margin-top: 30px;
  width: 50%;
}

.weatherCard {
  padding: 20px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  background-color: #233237;
  color: white;
  height: 100%;
  animation-name: inEase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.weatherImage {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.currentLocation {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.currentLocation p {
  font-size: 18px;
  font-weight: 500;
}

.currentUserSection {
  width: 50%;
  margin-top: 30px;
}

.userInfo {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 10px;
  animation-name: inEaseUser;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.userProps {
  display: flex;
}


.mainContainer {
  padding: 40px;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
}

.userCard {
  padding: 20px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  background-color: #1d2731;
  color: white;
  height: 100%;
  margin-left: 20px;
  animation-name: outEase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.userImage {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.currentUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  text-align: start;
  padding: 20px;
}

.currentUser p {
  font-size: 16px;
  font-weight: 500;
}

@keyframes inEaseUser {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes inEase {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes outEase {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 1540px) {
  .userCard {
    flex-direction: column;
  }

  .userImage {
    width: 100%;
    margin-top: 20px;
  }

  .currentUser {
    width: 100%;
    align-items: center;
  }

  .weatherCard {
    flex-direction: column;

    align-items: center;
  }

  .weatherImage {
    width: 30%;
    height: 200px;
    margin-top: 20px;
  }

  .currentLocation {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 1250px) {
  .currentLocation p {
    font-size: 15px;
  }

  .currentLocation h3 {
    font-size: 20px;
  }

  .currentUser p {
    font-size: 15px;
  }

  .currentUser h3 {
    font-size: 20px;
  }
}
