@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@700&family=Noto+Sans:wght@400;600&family=Red+Hat+Display:wght@700&display=swap');

body {
  margin: 0;
  overflow: hidden;
}

* {
  font-family: "Geologica", sans-serif;
}

body p {
  font-family: "Geologica", sans-serif;
}
