@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=League+Spartan:wght@700&family=Noto+Sans:wght@400;600&family=Red+Hat+Display:wght@700&display=swap");

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.formLog {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.patent {
  background-image: url("../../public/assets/Welcome\ to\ Syncronova.jpg");
  background-size: cover;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
}

.userLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logo {
  background-image: url("../../public/assets/Syncronova.png");
  height: 400px;
  width: 500px;
  margin-top: -200px;
  margin-left: 20px;
}

.loginButtonModule {
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
  width: 100%;
  color: white;
  font-weight: 400;
  background-color: #212a3e;
  transition: all .2s;
}

.loginButtonModule:hover {
  background-color: #394867;
}
