.principalContainer {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
}

.toolSpace {
  min-width: 350px;
  height: 100vh;
  display: flex;
  user-select: none;
}

.workSpace {
  background-image: url(./../../public/assets/b9fc9147-59cf-4ba9-8b48-605f53e4a88d.png);
  background-color: #1D2731;
  background-size: cover;
  animation: animateBackground 30s infinite alternate;
  z-index: 100;
  height: fit-content;
  max-width: initial;
  width: 100%;
  display: grid;
}

.resizerParticle {
  user-select: none;
  width: 1%;
  height: 100vh;
  cursor: col-resize;
  background-color: #233142;
  z-index: 100;
}

.toolContainer {
  width: 99%;
  background-color: #263849;
  height: 100vh;
  color: whitesmoke;
}

.hrElement {
  width: 95%;
}

@keyframes animateBackground {
  0% {
    background-size: 2296px;
  }
  100% {
    background-size: 2000px;
  }
}
