@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Geologica&family=League+Spartan:wght@700&family=Noto+Sans:wght@400;600&family=Red+Hat+Display:wght@700&display=swap");

.principalContainer {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
}

.toolSpace {
  width: 70px;
  height: 100vh;
  display: flex;
  user-select: none;
}

.workSpace {
  background-color: #eaeaea;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center-top;
  animation: animateBackground 40s infinite alternate;
  background-position-x: 50%;
  background-position-y: 0%;
  z-index: 100;
  height: fit-content;
  max-width: initial;
  width: 100%;
  display: grid;
}

.resizerParticle {
  user-select: none;
  width: 4px;
  height: 100vh;
  background-color: #d3d3d3;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}

.toolContainer {
  width: 99%;
  height: 100vh;
}

.hrElement {
  width: 95%;
}

.buttonNotification {
  transform: rotate(0deg);
}

.buttonNotification:hover {
  transform: rotate(15deg);
}

.contactSection {
  background-color: white;
}

.contactSection p {
  font-family: "Geologica", sans-serif;
}

@keyframes animateBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 150%;
  }
}
