.collapsed {
  display: none;
}

.expanded {
  display: block;
  margin-left: 30px;
}

.buttonSpace:hover {
  background-color: #d3d3d3;
  transition: all 0.2s ease-in;
}

.buttonSpaceList:hover {
  background-color: #d3d3d3;
}
